* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #1E1E1E;
}

.container {
    position: absolute;
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 12px;
    border-radius: 10px;
    background-color: #101214;
    text-align: center;
    box-shadow: 20px;
}

#textCalc {
    text-align: right;
    width: 280px;
    height: 65px;
    margin-bottom: 8px;
    background-color: #171B1F;
    border: 1px solid black;
    color: white;
}

.resultado-normal {
    font-size: 40px;
}

.resultado-pequeno {
    font-size: 32px;
}

.resultado-mini {
    font-size: 22px;
}

.botoes-utilidade {
    margin-bottom: 8px;
    text-align: right;
}

.botoes-utilidade button {
    width: 70px;
    height: 40px;
    font-size: 25px;
    color: white;
    background-color: #252A2B;
    border: 1px solid black;
    transition: background-color .2s ease-out;
    outline: none;
}

.botoes {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.botoes button {
    width: 100%;
    height: 65px;
    font-size: 30px;
    color: white;
    background-color: #171B1F;
    border: 1px solid black;
    transition: background-color .2s ease-out;
    outline: none;
}

.botoes button:hover, .botoes-utilidade button:hover {
    background-color: #292f35;
}

.botoes button:active, .botoes-utilidade button:active {
    background-color: #4c565f;
}

#btn-div {
    grid-row: 1;
    grid-column: 4;
}

#btn-mult {
    grid-row: 2;
    grid-column: 4;
}

#btn-menos {
    grid-row: 3;
    grid-column: 4;
}

#btn-mais {
    grid-row: 4;
    grid-column: 4;
}

#btn-0 {
    grid-row: 4;
    grid-column: 2;
}

